<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting Mode</title>
</head>
<body>
    <center><h1><b><u>Chatting Mode</u></b></h1></center>
    <center><button type="button" style="width: 250px; height: 200px;"><font size="25"><b>Find</b></font></button></center>
    <center><button type="button" style="width: 250px; height: 200px;"><font size="25"><b>Stranger </b></font></button></center>
</body>
</html>