<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find</title>
</head>
<body>
    <center><h1><b><u>Stranger</u></b></h1></center>  
    <label for="">Gender</label><input type="checkbox" id="male" name="male" value="male"><label for="male">male</label><br><input type="checkbox" id="female" name="female" value="female"><label for="male">female</label><br>
    <label for="">Country</label><input type="text">
    <label for="">U_name</label><input type="text">
    <button type="submit">find</button>
    <h4>friend user_name is :</h4>
    <textarea rows="35" cols="195" scrolling="yes" resize="none"></textarea> 
    <textarea name="msg" id="msg" cols="180" rows="2">Type the message please.</textarea><button type="submit" style="width: 100px; height: 50px;">SUBMIT</button>
</body>
</html>