<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Sign Up</title>
</head>
<body>
    <center><h1><b><u>Login or Sign-Up</u></b></h1></center>
    <center><button type="button" style="width: 200px; height: 200px;"><font size="50"><b>Login</b></font></button></center>
    <center><button type="button" style="width: 200px; height: 200px;"><font size="50"><b>Sign Up</b></font></button></center>
</body>
</html>