<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <center><h1><b><u>Sign-Up</u></b></h1></center>
    <h2>Email</h2><b><input type="email" name="email" id=""></b>
    <h2>Password</h2><b><input type="password" name="password" id=""></b>
    <h2>Re-Password</h2><b><input type="password" name="password" id=""></b>
    <h2>User name</h2><b><input type="email" name="user_id" id=""></b>
    <h2>Gender</h2>
    <input type="checkbox" id="male" name="male" value="male">
    <label for="male">male</label><br>
    <input type="checkbox" id="female" name="female" value="female">
    <label for="male">female</label><br>
    <h2>Country</h2><b><input type="email" name="email" id=""></b>
    <br>
    <br>
    <button type="submit" style="width: 300px; height: 50px;"><font size="5"><b>Sign-Up</b></font></button>
</body>
</html>